:root {
   --primary-text-color: #434455;
   --section-title-color: #2E2F42;
   --accent-color: #4D5AE5;
   --primary-white-color:#fff;
   --footer-text-color: #E7E9FC;
   --light-logo-color: #F4F4FD;
   --button-nav-color: #404BBF;
}

body {
   background-color: var(--primary-white-color);
   color: var(--primary-text-color); 
   font-size: 16px;
   line-height: 1.5;
   font-family: 'Roboto', sans-serif;
}

/*           components */

.container {
   padding-left: 15px;
   padding-right: 15px;

   margin:0 auto;
   width: 100%;
   max-width:1158px;
}
/*                utils */
 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/*                reset */
h1, h2, h3, h4, h5, h6, p{
   margin: 0;
}

.list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.link {
   text-decoration: none;   
}

.img{
   display: block;
   max-width: 100%;
   height: auto;
}

.address{
   font-style: normal;
}

.button{
   cursor: pointer;
}

/*             Styles Heder */
.page-header {}

.header-containernav {
   display: flex;
   align-items: center;
}

.page-nav {
   display: flex;
   align-items: center;
}

.logo {
   margin-right: 72px;
   margin-top: 24px;
   margin-bottom: 24px;
   
   color: var(--accent-color);
   font-family: 'Raleway';
   font-weight: 800;
   font-size: 18px;
   line-height: 1.33;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.secondpart-logo {
   color: var(--section-title-color);
}

.nav-list{
   display: flex;
   align-items: center;
   gap: 40px;
}

.nav-item {}

.sitenav {
   margin-top: 24px;
   margin-bottom: 24px;
   display: inline-block;
   
   color: var(--section-title-color);
   font-weight: 500;
   letter-spacing: 0.02em;
}

.sitenav:hover,
.sitenav:focus {
   color: var(--accent-color);
}

.sitenav.current {
   color: var(--button-nav-color);
}

.authnav-item{}

.authnav-list{
   display: flex;
   gap: 40px;   
}
.authnav-menu{
   margin-left: auto;
}

.authnav { 
   display: block;
   margin-top: 24px;
   margin-bottom: 24px;

   color: var(--primary-text-color);
   font-style: normal;
   letter-spacing: 0.02em;
}

.authnav:hover,
.authnav:focus {
   color: var(--accent-color);
}


/*                Hero */
.hero {
   padding-top: 188px;
   padding-bottom: 188px;
   text-align: center;

   background-color: var(--section-title-color);
}

.hero-title {
   margin-top: 0;
   margin-bottom: 48px;

   color: var(--primary-white-color);
   font-size: 56px;
   line-height: 1.07;         
}

.button-hero {
   display: inline-block;
   padding: 16px 32px;
   border-radius: 4px;
   border: transparent solid 1px;

   color: var(--primary-white-color);
   background-color: var(--accent-color);
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
}

.button-hero:hover,
.button-hero:focus {
   background-color: var(--button-nav-color);
}

/*           Solutions  styles*/
.section-solutions {
   padding-top: 120px;
   padding-bottom: 120px;
}

.solutions-container {
   padding-left: 156px;
   padding-right: 156px;
}

.solutions-list {
   display: flex;
   gap: 24px;
}

.solutions-item {
   text-align: center;
   flex-basis: calc((100% - 72px) / 4);
}

.section-title {
   color: var(--section-title-color);
   font-size: 36px;
   line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
   letter-spacing: 0.02em;
   margin-top: 0;
   margin-bottom: 72px;
}
.section-subtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   margin-top: 0;
   margin-bottom: 8px;
}

.discriptions {
   margin-top: 0;
   margin-bottom: 0;

   color: var(--primary-text-color);
   letter-spacing: 0.02em;
}

/*         section-ourdoing styles */

.section-ourdoing {
   display: flex;

}

.ourdoing-container {
   display: flex;
   flex-direction: column;
}

.image-container{
   display: flex;
}

.ourdoing-list {
   display: flex;
   gap: 24px;
}

.ourdoing-item {
   text-align: center;
   flex-basis: calc((100% - 48px) / 3);
}

/*       Section Our Team styles */
.section-team {
   display: flex;
}

.team-container {
   display: flex;
   flex-direction: column;
}

.image-team-container{
    display: flex;
}

.section-title {}

.team-list {
   display: flex;
   gap: 24px;
}

.team-item {
   text-align: center;
   flex-basis: calc((100% - 72px) / 4);
}

.section-subtitle {}

.discriptions {}

/*                  footer */
.footer-container {}

.foter-text-container {
   display: block;
   width: 264px;
}

.page-footer {
   padding-top: 100px;
   padding-bottom: 100px;
   padding-right: 1020px;
   background-color: var(--section-title-color);
}

.footer-content {
   color: var(--footer-text-color);
   letter-spacing: 0.02em
}

.light-logo {
   margin-bottom: 16px;
   color: var(--light-logo-color);
   font-family: 'Raleway';
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
/*                 portfolio styles */

.section-projects {}

.projects-container {
   display: flex;
   justify-content: center;
      
}

.projects-list {
   display: flex;
   padding-top: 96px;
   padding-bottom: 72px;
   gap: 24px;
}

.projects-item {
   display: flex;
   
}

.button-projects {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;

      color: var(--accent-color);
      background-color: var(--light-logo-color);
      border: 1px solid #E7E9FC;
      border-radius: 4px;
   }
.button-projects:hover {
   color: var(--primary-white-color);
   background-color: var(--button-nav-color);
}

.foto-container {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 48px;
}

.foto-list {
   display: flex;
   gap: 24px;
}

.foto-item {text-align: center;
   flex-basis: calc((100% - 96px) / 5);}

.section-subtitle {}

.discriptions {}


